<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<!-- Global site tag (gtag.js) - Google Analytics / On Hold
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N2KRM15ZE6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N2KRM15ZE6');
</script>
-->
  
  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      
      <div class="wrapper">
        
        {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}
        
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
