---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2 class="post-list-heading"> TEST3 </h2>
  
  {%- if site.posts.size > 0 -%}
    
    {% assign all_categories = site.categories | compact | uniq %}
    {% for tag in all_categories %}
       <h2 class="post-list-heading"> {{ tag }} </h2>
        - {{tag}}
    {% endfor %}
    
  <!--
{% assign site_categories = site.pages | map: "category" | compact %}

{% for category in site_categories %}
- {{ category }}
{% endfor %}
-->

  
    <!--
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}  -  {{post.categories}}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>


-->
  {%- endif -%}

</div>
